
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


venv/
env/
.todo_app_venv/


.env
.env.*

.vscode/



.DS_Store
Thumbs.db


*.log


*.db

*.pid
*.sock
docker-compose.override.yml

migrations/

htmlcov/
coverage.xml
*.cover

*~ 

.mypy_cache/
.pylint.d/
todo_app_venv/
